<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - foodrecipe</title>
    <link rel="stylesheet" href="~/css/shared.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/categories.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/recipes.css" asp-append-version="true" />
</head>
<body>
    <header>
        <div class="logo">Healthy Recipes</div>
        <div class="nav-bar">
            <ul>
                <li><a class="nav-link text-dark" asp-controller="Home" asp-action="Index">Home</a></li>
                <li><a class="nav-link text-dark" asp-controller="About" asp-action="Index">About</a></li>
                <li><a class="nav-link text-dark" asp-controller="Recipes" asp-action="Index">Recipes</a></li>
                <li><a class="nav-link text-dark" asp-controller="Categories" asp-action="Index">Categories</a></li>
                <partial name="_LoginPartial" />
            </ul>
        </div>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
