@{
    ViewData["Title"] = "Categories";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href=".\css\categories.css">
    <title>Categories</title>
</head>
<body>

    <div id="category">

        <!--heading-->
        <div class="category-heading">
            <h2>All categories</h2>

        </div>

        <!--box container-->
        <div class="category-container">

            <!--box-->
            <a href="recipes.html" class="category-box">
                <img src=".\uploads\Categories\pasta.png" alt="">
                <span>Pasta</span>
            </a>

            <a href="recipes.html" class="category-box">
                <img src=".\uploads\Categories\beef-fish.png" alt="">
                <span>High-protein</span>

            </a>

            <a href="recipes.html" class="category-box">
                <img src=".\uploads\Categories\soup.png" alt="">
                <span>Soups</span>

            </a>

            <a href="recipes.html" class="category-box">
                <img src=".\uploads\Categories\low.png" alt="">
                <span>Low-calorie</span>

            </a>

            <a href="recipes.html" class="category-box">
                <img src=".\uploads\Categories\desert.png" alt="">
                <span>Desserts</span>

            </a>

            <a href="recipes.html" class="category-box">
                <img src=".\uploads\Categories\Vegetables.png" alt="">
                <span>Vegetarian</span>

            </a>

            <a href="recipes.html" class="category-box">
                <img src=".\uploads\Categories\break.jpg" alt="">
                <span>Breakfast</span>

            </a>

        </div>

    </div>



</body>
</html>
