@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <style>
        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            height: calc(100vh - 60vh);
            text-align: center;
        }

        h1 {
            font-weight: bold;
        }

        p {
            margin: 1em 0;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>@ViewData["Title"]</h1>
        @{
            if (@Model.DisplayConfirmAccountLink)
            {
                <p>
                    The application doesn't support email confirmation at the moment.
                </p>
                <p>
                    <a id="confirm-link" href="@Model.EmailConfirmationUrl">Click here to confirm your account</a>
                </p>
            }
            else
            {
                <p>
                    Please check your email to confirm your account.
                </p>
            }
        }
    </div>
</body>
</html>
