#category {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: 50px auto;
    padding: 100px 0px;
}

.category-heading {
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    color: #1a6a11;
    margin-bottom: 10px;
}

.category-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}


.category-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fafafa;
    border-radius: 10px;
    height: 130px;
    width: 120px;
    border: 1px solid rgba(0,0,0,0.03);
}

    .category-box img {
        height: 80px;
        width: 80px;
        object-fit: contain;
        object-position: center;
    }

    .category-box a {
        text-decoration: none;
    }

    .category-box span {
        color: #393939;
        font-size: 15px;
        margin-top: 20px;
        letter-spacing: 0.3px;
        font-weight: 600;
    }

    .category-box:hover img {
        transform: scale(1.1);
    }

