@{
    ViewData["Title"] = "Recipes";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href=".\css\recipes.css">
    <title>Recipes</title>
</head>
<body>
    <div class="recipe">
        <h2>Featured Recipes</h2>
        <div class="box">
            <div class="card">
                <img src=".\uploads\Recipes\1.webp" alt="">
                <div class="content">
                    <h3>Healthy salmon pasta</h3>
                    <P>Try our lighter recipe made with salmon, penne, veg and basil – it's fresh, tasty and packed with goodness.</P>
                    <button>View Recipe</button>

                </div>
            </div>
            <div class="card">
                <img src=".\uploads\Recipes\2.webp" alt="">
                <div class="content">
                    <h3>Ponzu tofu poke bowl</h3>
                    <P>Use silken tofu to make this flavourful poke bowl. It's similar to a Japanese dish called ‘hiyayakko’.</P>
                    <button>View Recipe</button>
                </div>
            </div>
            <div class="card">
                <img src=".\uploads\Recipes\3.webp" alt="">
                <div class="content">
                    <h3>Pesto eggs on toast</h3>
                    <P>Try a speedy, low-fat pesto as a delicious alternative to oil for frying eggs - makes a perfect brunch or lunch.</P>
                    <button>View Recipe</button>
                </div>
            </div>
            <div class="card">
                <img src=".\uploads\Recipes\4.webp" alt="">
                <div class="content">
                    <h3>Healthy chicken stir-fry</h3>
                    <P>Make this nutritious, veg-packed stir-fry when you need dinner fast – and if you like a hit of spice, add some chilli to the rich peanut dressing.</P>
                    <button>View Recipe</button>
                </div>
            </div>
            <div class="card">
                <img src=".\uploads\Recipes\5.webp" alt="">
                <div class="content">
                    <h3>Lentil coconut curry</h3>
                    <P>This quick and easy curry has such great depth of flavour .It's healthy too, as well as being low in fat and calories.</P>
                    <button>View Recipe</button>
                </div>
            </div>
            <div class="card">
                <img src=".\uploads\Recipes\6.webp" alt="">
                <div class="content">
                    <h3>Healthy gnocchi</h3>
                    <P>Rustle up our hearty and wholesome gnocchi dish in just 30 minutes. It's full of veggies, including spinach, white beans, tomatoes and red onion.</P>
                    <button>View Recipe</button>
                </div>
            </div>
            <div class="card">
                <img src=".\uploads\Recipes\7.webp" alt="">
                <div class="content">
                    <h3>Crunchy noodle salad</h3>
                    <P>Make our noodle salad for a light lunch or side – toasted dried noodles are combined with fresh veg and citrus to make this satisfying recipe</P>
                    <button>View Recipe</button>
                </div>
            </div>
            <div class="card">
                <img src=".\uploads\Recipes\8.webp" alt="">
                <div class="content">
                    <h3>Prawn fried rice</h3>
                    <P>Make this easy Asian-inspired dish in just 30 minutes. It's healthy and low in calories but big on flavour, making it perfect for a speedy family supper</P>
                    <button>View Recipe</button>
                </div>
            </div>
        </div>
    </div>


</body>
</html>
